@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<p>
As if it was straight out of a fashion magazine, is the extraordinary, innovative and luxurious design of the makeup school: specially, hand-picked colors and styles, with an emphasis on a relaxed and inviting atmosphere. Plasma screens surround the interior of the school, screening work and productions taking place by our staff of experts.
</p>
<p>
The MakeItUp - Beauty Academy was established in 2015. Its location is convenient and highly accessible; it’s situated in Maskit 6, Hertzlia – a main and central route, with available and accessible public transportation and a train in close proximity. This accessibility enables students from all over the country to fulfill their dream and pursue makeup studies at the MakeItUp - Beauty Academy.
</p>
<p>
The school is situated in a modern and spacious building, assuring maximal comfort for the students, guests of the school and our customers.
The modern design, the warm coloring and the pleasant lighting were carefully planned and picked out to provide our students with inspiration, peace and creativity.
Classes are conducted by the school’s staff of experts who were personally and professionally. The classes are conducted in small group settings to enable an intimate and personal learning experience, enjoyed by each student.
Makeup stations are situated in the school’s lobby, allowing each student to come by the school at all hours of the day and to practice and reinforce the techniques taught in the course.
</p>
<p>
The school employs 40 of the best professionals in the field of makeup and service. Makeup studies include a wide range of specializations that allow each person to fit in to the area he/she most relates to. The specializations taught at the school are: bridal makeup, evening, television and high fashion makeup, as well as personalized, everyday makeup.
The school also offers diverse workshops and seminars for more advanced / professional makeup artists that include individual makeup workshops and innovative and up-to-date makeup techniques.
</p>

<h4>What people say about us?</h4>
<div class="fb-comments" data-href="https://www.facebook.com/MakeitupBeuatyAcademy" data-width="500" data-numposts="3"></div>
<meta property="fb:admins" content="{YOUR_FACEBOOK_USER_ID}" />

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>