<div class ="home-page">
    <canvas id="myCanvas" width="600" height="50">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <hr />
    <p>At MakeItUp, we believe humility is overrated. Women were born to be powerful and confident, and to take everything we have and apply it to our lives. 
    That includes your dewy-fresh skin, your glimmering smile, and most of all, your pretty face. 
    We’re spreading our message far and wide. That’s why we love making pretty: everywhere</p>

    <h3>Video tutorial of the day:</h3>
    <video controls width="520" height="350">
        <source src="~/Content/Video/Waterproof Eye Makeup - MondayMakeupLesson.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Arial";
    ctx.shadowColor = "black";
    ctx.shadowOffsetX = 2;
    ctx.shadowOffsetY = 2;
    ctx.shadowBlur = 2;
    var grd = ctx.createRadialGradient(300, 100, 10, 300, 150, 350);
    grd.addColorStop(0, "#1a1434");
    grd.addColorStop(1, "#fff");

    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.fillText("Welcome To MakeItUp - Beauty Academy!", 20, 25);
    </script>
</div>