@{
    ViewBag.Title = "Home Page";
}

<div class ="home-page">
    <h3>Welcome To MakeItUp - Beauty Academy!</h3>
    <br />
    <p>At MakeItUp, we believe humility is overrated. Women were born to be powerful and confident, and to take everything we have and apply it to our lives. 
    That includes your dewy-fresh skin, your glimmering smile, and most of all, your pretty face. 
    We’re spreading our message far and wide. That’s why we love making pretty: everywhere</p>
    <video controls width="520" height="350">
        <source src="~/Content/Video/Waterproof Eye Makeup - MondayMakeupLesson.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>